/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-blocktree {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.blocktree-link-item {
	display: flex;
}

// .blocktree-link-item > a,
// .blocktree-link-item > a:focus {
// 	display: flex;
// 	width: 100%;
// 	background-color: darkorange;
// 	color: white;
// 	text-decoration: none;
// 	text-align: center;
// 	border-radius: 1rem;
// 	padding: 1rem 2rem;
// }
